NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT=ca-pub-8919343509754259
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT_BOTTOM=7300951301
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT_SQUARE=1599624955
